.menu-container {
    padding: 20px;
    text-align: center;
}

.menu-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu-item {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    text-align: center;
    width: 30%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.menu-item img {
    max-width: 100%;
    height: auto;
}

.order-button {
    background-color: #28a745;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.order-button:hover {
    background-color: #218838;
}

/* Media Queries Untuk Design Responsive*/
@media (max-width: 768px) {
    .menu-item {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .menu-item {
        width: 100%;
    }
}
